In [288]:

JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,

    Find the 10 countries with most projects
    Find the top 10 major project themes (using column 'mjtheme_namecode')
    In 2. above you will notice that some entries have only the code and the name is missing. 
        Create a dataframe with the missing names filled in.

In [371]:
import pandas as pd
import json
from pandas.io.json import json_normalize
import numpy as np

In [ ]:
 #1) Find the 10 countries with most projects

In [372]:
# Read jSON file into wb2 
wb2=json.load(open('C:\\Users\\habsa\\Documents\\DataAnalyticsDataSets\\data_wrangling_json\\data_wrangling_json\\data\\world_bank_projects.json'))

In [162]:
#Normalize wb2 and save it to wb3
wb3=json_normalize(wb2)

In [186]:
#Use count(),sort_values() and head() to answer the fis
wb3.groupby('countryname')['project_name'].count().sort_values(ascending=False).head(10)

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: project_name, dtype: int64

In [ ]:
# 2) Find the top 10 major project themes (using column 'mjtheme_namecode')

In [230]:
wb4=json_normalize(wb2,['mjtheme_namecode']).name.value_counts().sort_values(ascending=False).head(10)

In [231]:
wb4

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [ ]:
3) Find the top 10 major project themes (using column 'mjtheme_namecode')
In 2. above you will notice that some entries have only the code and the name is missing. 
Create a dataframe with the missing names filled in.

In [293]:
wb6=json_normalize(wb2,'mjtheme_namecode',['id'])

In [336]:
wb6['name']=wb6['name'].replace('',np.nan)

In [344]:
wb7=wb6.dropna(axis=0,how='any').drop_duplicates()

In [346]:
wb8=wb7[['code','name']]

In [347]:
wb8.drop_duplicates()

    code                                          name
0      8                             Human development
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
18    10                             Rural development
53     9                             Urban development
252    3                                   Rule of law

In [350]:
wb9=wb6['name'].replace('',wb8['name'])

In [352]:
wb6=json_normalize(wb2,'mjtheme_namecode')

In [367]:
wb6['name']=wb6['name'].replace('',np.nan)
wb7=wb6.dropna(axis=0,how='any').drop_duplicates()
wb8=wb7[['code','name']]
wb9=wb8.drop_duplicates()

In [368]:
wb6.loc[wb6.name.isnull(),'name']=wb9.name

In [370]:
wb9

    code                                          name
0      8                             Human development
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
18    10                             Rural development
53     9                             Urban development
252    3                                   Rule of law

In [ ]:
# where do I go from here??