In [288]:

JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,

    Find the 10 countries with most projects
    Find the top 10 major project themes (using column 'mjtheme_namecode')
    In 2. above you will notice that some entries have only the code and the name is missing. 
        Create a dataframe with the missing names filled in.

In [371]:
import pandas as pd
import json
from pandas.io.json import json_normalize
import numpy as np

In [ ]:
 #1) Find the 10 countries with most projects

In [372]:
# Read jSON file into wb2 
wb2=json.load(open('C:\\Users\\habsa\\Documents\\DataAnalyticsDataSets\\data_wrangling_json\\data_wrangling_json\\data\\world_bank_projects.json'))

In [162]:
#Normalize wb2 and save it to wb3 as a data frame
wb3=json_normalize(wb2)

In [463]:
wb3.shape

(500, 55)

In [186]:
#Use count(),sort_values() and head() to get top 10 countries with max projects
wb3.groupby('countryname')['project_name'].count().sort_values(ascending=False).head(10)

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: project_name, dtype: int64

In [ ]:
# 2) Find the top 10 major project themes (using column 'mjtheme_namecode')

In [230]:
#use Json_normalize on wb2 list to create a data frame, then extract mjtheme_namecode' series 
#and chain,value_counts and sort_vaulues to get the  the top 10 major projects
wb4=json_normalize(wb2,['mjtheme_namecode']).name.value_counts().sort_values(ascending=False).head(10)

In [465]:
wb4

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [ ]:
3) Find the top 10 major project themes (using column 'mjtheme_namecode')
In 2. above you will notice that some entries have only the code and the name is missing. 
Create a dataframe with the missing names filled in.

In [293]:
#use Json_normalize on wb2 list to create a data frame,
wb6=json_normalize(wb2,'mjtheme_namecode',['id'])

In [460]:
wb6.shape

(1499, 2)

In [367]:
#Use replace to replace nulls with NaN and then drop duplicates to get unique code:name pairs
wb6['name']=wb6['name'].replace('',np.nan)
wb7=wb6.dropna(axis=0,how='any').drop_duplicates()

In [456]:
# create a dictionary suinng dict and zip functions using two panda series from the data frame
wb9dict=dict(zip(wb7.code,wb7.name))

In [457]:
# use fillna function to replace the NaN values in the name column with the corresponding value in the dictionary
wb6.name=wb6.name.fillna(wb6.code.map(wb9dict))

In [459]:
#validate that we got the same set of rows, columns as line 460 above.
wb6.shape

(1499, 2)

In [466]:
wb6

     code                                          name
0       8                             Human development
1      11  Environment and natural resources management
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6         Social protection and risk management
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8                             Human development
18     10                             Rural development
19      7                   Social dev/gender/inclusion
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2                      Public sector governance
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4      Financial and private sector development
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11  Environment and natural resources management
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5                         Trade and integration
1482    6         Social protection and risk management
1483    8                             Human development
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6         Social protection and risk management
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]